<%# form_tag friends_path do %>

  <%# <div class="field form-group"> %>
   <%# <label>First Name:</label> %>
   <%# <br> %>
   <%# text_field_tag :'friend[first_name]' %>
  <%# </div> %>

  <%# <div class="field form-group"> %>
    <%# <label>Last Name:</label> %>
   <%# <br> %>
   <%# text_field_tag :'friend[last_name]' %>
  <%# </div> %>

  <%# <div class="field form-group"> %>
      <%# <label>Email:</label> %>
   <%# <br> %>
   <%# email_field_tag :'friend[email]' %> 
  <%# </div> %>

  <%# <div class="field form-group"> %>
    <%# <label>Phone:</label> %>
   <%# <br> %>
   <%# text_field_tag :'friend[phone]' %>
    
  <%# </div> %>

  <%# <div class="field form-group"> %>
    <%# <label>Twitter:</label> %>
   <%# <br> %>
   <%# text_field_tag :'friend[twitter]' %>
    
  <%# </div> %>

   <%# <div class="field form-group"> %>
    <%# <label>Password:</label> %>
   <%# <br> %>
   <%# text_field_tag :'friend[password]' %>
   
  <%# </div> %>

  <%# <div class="actions"> %>
    <%# submit_tag 'Create Friend' %>
  <%# </div> %>
<%# end %>


<%= form_for @friend do |f| %>
 <%= render 'errors'%>
 
  <div class="field form-group">
   <%= f.label :First_Name %>
   <br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field form-group">
     <%= f.label :Last_Name %>
   <br>
  <%= f.text_field :last_name %>
  </div>

  <div class="field form-group">
       <%= f.label :Email %>
   <br>
    <%= f.email_field :email %>
  </div>

  <div class="field form-group">
     <%= f.label :Phone %>
   <br>
   <%= f.phone_field :phone %>
    
  </div>

  <div class="field form-group">
     <%= f.label :Twitter %>
   <br>
   <%= f.text_field :twitter %>
    
  </div>

   <div class="field form-group">
     <%= f.label :Password %>
   <br>
    <%= f.password_field :password %>
   
  </div>

  <div class="actions">
    <%= f.submit 'Create Friend' %>
  </div>
<% end %>

