<%= form_tag users_path do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label> Username:</label>
   <br>
   <%= text_field_tag :'user[username]' %>
  </div>
<br>
  <div class="field">
     <label>Email:</label>
   <br>
   <%= email_field_tag :'user[email]' %>
  </div>
<br>
  <div class="field">
     <label>Password:</label>
   <br>
   <%= text_field_tag :'user[password]' %>
  </div>
  <br> 
<div class="field">
  <%= submit_tag("Create User") %>
  </div>
<% end %>
